.legend {
  background-color: $basic-black;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-left: 140px;
    padding-bottom: 0;
  }
}

.legend__wrapper {
  position: relative;
  min-height: 275px;
  background: center 120% / contain no-repeat url("../img/legendBCG-shadow.png"),
  bottom / cover no-repeat url("../img/legendBCG-lions.png"),
  center / cover no-repeat url("../img/legendBCG-graph.png");

  @media (min-width: $tablet-width) {
    min-height: 350px;
    background: top right / 50% 20% no-repeat url("../img/legend__desktop__topBCG-shadow.png"),
    bottom right / 50% no-repeat url("../img/legendBCG-lions.png"),
    bottom right / 50% no-repeat url("../img/legendBCG-graph.png");
  }
}

.legend__title {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0 60px 0 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $basic-white;
  background: center / cover no-repeat url("../img/legend__titleBCG-shadow.png");

  @media (min-width: $tablet-width) {
    top: 20px;
    max-width: 700px;
    font-size: 40px;
    line-height: 49px;
    background: none;
  }
}

.legend__about {
  margin: 0;
  padding: 0 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $gold;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 140px;
    max-width: 540px;
    font-size: 25px;
    line-height: 30px;
  }
}
