.page-header {
  display: flex;
  padding: 20px 16px;
  background-color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 13px 140px;
  }
}

.page-header__img {
  @media (min-width: $tablet-width) {
    width: 424px;
    height: 75px;
  }
}
