.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px 30px;
}

.rules__title {
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $gold;
}

.rules__item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  & p {
    max-width: 91%;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
}

.rules__item:last-child {
  margin-bottom: 0;
}

.rules__item-icon {
  margin-right: 4px;
  fill: $basic-black;

  &--dollar {
    margin-left: 6px;
    margin-right: 8px;
  }
}
